


nav, header, footer, main {
    max-width: 75rem;
    margin: auto;
}

nav ul {
    padding-left: $gutter;
}
nav ul li {
    flex-basis: auto;
}
nav a {
    padding: .5rem 1rem;
}

main figure {
    width: 31%;
}

div.news {
    column-count: 3;
}





