header, nav, main, footer {
        max-width: 60rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div#headerWrapper {
        background-image: url(/museum2/images/header-large.jpg);
        height: 400px;
        background-size: cover;
        background-position: center bottom;
    }


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main {
        .card {flex-basis: 31.333%;}
    }


/*----------- FOOTER --------------*/
    
