* { -moz-box-sizing: border-box;
-webkit-box-sizing: border-box; box-sizing: border-box; }

/* Paul indicated that the second hack wasn't needed in the small.css page becuase it was already
inluded in the normalize.css page. */

/* body rules here*/

body {
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: $regularWeigth;
}

/* header rules here */

header {
    background-color: $primaryColor;
    padding: 1rem $gutter;
}
header h1 {
    margin:0;
    font-weight: $heavyWeight;
}
header h2 {
    margin: 0;
    font-weight: $regularWeigth;
}


/* navigation rules here */

nav {
    background-color: #111;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    list-style-type: none;
}
nav li.active {
    background-color: #333;
}
nav a {
    display: block;
    padding: .8rem 0; /* 44 min height */
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    background-color: #444;
}

/* main rules here */

main {
    padding: 1rem $gutter;
    display: block;
}
main h1 {
    color: $primaryColor;
    font-weight: $heavyWeight;
}
main figure img {
    width: 100%;
}
main figure {
    width: 100%;
    margin: 0;
}
main figcaption {
    text-align: center;
    font-size: .8rem;
}

/* footer rules here */

footer {
    text-align: center;
    padding: 1rem $gutter;
    background-color: $primaryColor;
}