* { -moz-box-sizing: border-box;
-webkit-box-sizing: border-box; box-sizing: border-box; }
* {
    margin: 0;
}
/* Paul indicated that the second hack wasn't needed in the small.css page becuase it was already
inluded in the normalize.css page. */

/* body rules here*/

body {
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: $regularWeigth;

}

/* header rules here */
div#headerWrapper {background-color: $primaryColor;}
header {
    margin: 0;
    padding: 1rem 2%;
    
    img {
        float: left;
        padding-right: 15px;
        position: relative;
        top: .7rem;
    }
    h1 {
        margin:2rem 0 0 0;
        font-weight: $heavyWeight;
        color: black;
    } //end of h1
    h2 {
        margin: 0;
        font-weight: $regularWeigth;
        
        } //end of h2

    #title {
         position: relative;
         bottom: .5rem;
     }



} //end of header
 


/* navigation rules here */
div#navWrapper {background-color: black;}
nav {
    

    ul {
    margin: 0;
    padding: 0;
    
    }
    li {
    list-style-type: none;
    }
    li.active {
    background-color: #333;
    }
    a {
    display: block;
    padding: .8rem 0; /* 44 min height */
    color: #eee;
    text-align: center;
    text-decoration: none;
    }
    a:hover {
    background-color: #444;
    }
} //end of main nav
/* main rules here */
div#mainWrapper {background-color: gray;}
main {
    padding: 0;
    display: block;
    background-color: white;
   

    figure.hero {
        width: 100%;
        margin: 0;
        padding: 0px;
    }
    

    figure {
        width: 100%;
    }
    
     h1 {
    color: $primaryColor;
    font-weight: $heavyWeight;
    margin: 0 0 0 2%;
    }
    p {
        margin: 0 0 0 2%;
    }
    .news {
        margin: 0 2% 0 2%;
    }
    figure img {
        width: 100%;
    
    }
    figure {
    width: 100%;
    margin: 2%;
    }
    figcaption {
    text-align: center;
    font-size: .8rem;
    }

}//end of main

/* footer rules here */
div#footerWrapper {background-color: $primaryColor;}
footer {
    text-align: center;
    padding: 1rem $gutter;
    
}
