* { -moz-box-sizing: border-box;
-webkit-box-sizing: border-box; box-sizing: border-box; }
* {
    margin: 0;
}
/* Paul indicated that the second hack wasn't needed in the small.css page becuase it was already
inluded in the normalize.css page. */

/* body rules here*/

body {
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: $regularWeigth;

}

/* header rules here */
div#headerWrapper {background-color: #AEED8C;}
header {
    margin: 0;
    padding: 1rem 2%;
    display: flex;

    img {
        height: 100px;
    }
    
    h1 {
        margin:2rem 0 0 0;
        font-weight: $heavyWeight;
        color: black;
        padding: 0 0 0 1rem;
    } //end of h1
    h2 {
        margin: 0;
        font-weight: $regularWeigth;
        padding: 0 0 0 1rem;
    } //end of h2


} //end of header
 


/* navigation rules here */
div#navWrapper {background-color: rgb(237, 117, 118);}
nav {
    

    ul {
    margin: 0;
    padding: 0;
    
    }
    li {
    list-style-type: none;
    }
    li.active {
    background-color: rgb(233, 91, 91);
    }
    a {
    display: block;
    padding: .8rem 0; /* 44 min height */
    color: #eee;
    text-align: center;
    text-decoration: none;
    }
    a:hover {
    background-color: #444;
    }
} //end of main nav
/* main rules here */
div#mainWrapper {background-color: gray;}
main {
    padding: 0;
    display: block;
    background-color: white;
   
     h1 {
    color: $primaryColor;
    font-weight: $heavyWeight;
    margin: 0 0 0 2%;
    }
    p {
        margin: 0 0 0 2%;
    }
    div.social {
        background-color: lightcoral;
        display: flex;
        padding: .6rem 0;
        
    }
    div.social a {
        flex-basis: 25%;
        text-align: center;
        color: white;
        font-size: 2.5rem;
        
    }
    div.social a:hover {
        color: orange;
    }
    

}//end of main

/* footer rules here */
div#footerWrapper {background-color: #AEED8C;}
footer {
    text-align: center;
    padding: 1rem $gutter;
    
}
