
div#headerWrapper {
    background-image: url(/images/boston-header-medium200.jpg);
    height: 200px;
   
}

nav button {
    display: none;
}

nav ul {
    margin-left: 2% ;
}
nav ul li {
    float: left;
}
nav ul li a {
    border: none;
    padding: .8rem 1rem;

}
nav ul.hide {
    display: block;
}

div.storyGrid {
    grid-template-columns: 1fr 1fr 1fr;
    span {
        font-size: 1rem;
    }
    .lead {
        grid-column: 1 / span 3;
    }
}

section.footerlinks {
    padding-left: .5rem;
    grid-template-columns: 50% 50%;
    
}