/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0;}



body {
    font-family: 'Roboto', sans-serif;
}




div#headerWrapper {
    background-image: url(/images/boston-header-small140.jpg);
    height: 140px;
    
}
header {
    max-height: 200px;
}



nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav {
    background-color: gray;
    font-family: Verdana, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.3);
    color: white;
}


nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}

nav ul.hide {
    display: none;
}

main h1 {
    margin: 1rem 2%;
}
picture {
    position: relative;
}
picture div {
    position: absolute;
    bottom: 4px;
    color: white;
    background-color:black;
    opacity: 55%;
    width: 100%;
    
}

div.cards {
    display: flex;
    flex-wrap: wrap;
    columns: 4;
    
    
    
}
div:nth-child(1) {
    background-image: url("../images/hotel.jpeg");
}
div:nth-child(1) a {
    background-color: #3D4F73;
}


div:nth-child(2) {
    background-image: url("../images/redline.jpeg");
}
div:nth-child(2) a {
    background-color: #BF6F6F;
}

div:nth-child(3) {
    background-image: url("../images/bostoncity.jpeg");
}
div:nth-child(3) a {
    background-color: #898C27;
}

div:nth-child(4) {
    background-image: url("../images/dining.jpeg");
}
div:nth-child(4) a {
    background-color: #D99E30;
}




div.cards div a {
    display: block;
    width: 100%;
    height: 256px;
    text-decoration: none;
    padding: 0 2%;
    transition: all .5s ease-in;
}




div.cards img {
    width: 75px;
    margin-top: 4.7rem;
    margin-left: 5.7rem;
    

}
div a:hover {
    background: none;
    text-shadow: 0 0 4px black;
}


.cards div h3 {
    color: white;
    margin-top: 2em;
    margin-left: 4rem;

}

.cards div {
    margin: 0;
    width: 256px;
}













footer {
    background-color: rgb(49, 80, 138);
    color: white;
    padding: .6rem;
    text-align: center;
}

















/* ------- Clearfix: Force an element no to collapse ------- */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }